@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #272d42;
}

input {
	font-size: 1.4em;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.6rem;
}

p {
	font-size: 1.6rem;
}

h1,
h2,
h3,
p {
	color: #fff;
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.button {
	width: 100%;
	padding: 0.7em 2.2em;
	background-color: #fff;
	border-radius: 8px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.button:not([disabled]):hover {
	background-color: #272d42;
	color: #ddd;
}

.button:disabled {
	cursor: not-allowed;
}

/* --- HEADER --- */

.manager {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100vh;
	padding-bottom: 5em;
}

.manager__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 4em 6em;
	background-color: #0f162d;
	box-shadow: 0 5px 5px #000;
}

.manager__title {
	letter-spacing: 3px;
}

.manager__form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 300px;
	width: 100%;
}

.manager__form-input {
	width: 100%;
	padding: 0.3em;
	border: 1px solid #000;
	border-radius: 5px;
}

.manager__errors {
	width: 100%;
	min-height: 20px;
	margin-top: 2em;
	text-align: center;
}

.manager__errors-text {
	color: #ff0000;
}

/* --- TASKS SECTION --- */

.manager__task-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	margin-top: 2em;
}

.manager__task {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	width: 470px;
	padding: 2em;
	border-radius: 20px;
	opacity: 0;

	background-color: #0f162d;
	animation: showTask linear 0.5s both;
	box-shadow: 3px 3px 5px #000;
}

.task__header {
	text-align: center;
}

.task__header-title {
	padding: 0.3em;
	font-weight: normal;
}

.task__header-timer {
	font-size: 2.4rem;
	font-weight: bold;
}

.task__footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.5em;
}

.task__btn--run:not([disabled]) {
	background-color: lime;
}

.task__btn--finish:not([disabled]) {
	background-color: tomato;
}

.task__btn--delete:not([disabled]) {
	background-color: red;
	color: #fff;
}

@keyframes showTask {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.manager__header {
		flex-direction: column;
		gap: 2em;
		padding: 4em 1em;
	}

	.manager__form {
		align-items: center;
	}

	.manager__task-box {
		padding: 0 20px;
	}
}
